body{
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/dark-blue-tech-circuit-board-technology-animated-background-video-graphic-design-ultra-hd-4k-3840x2160_sgelpuywg_thumbnail-full05.png);
}
#menu ul li{/*configuração do menu, preparando pra o submenu*/
    color: rgb(255, 255, 255);
    float: left;/* deixa o menu alinahdo*/
    width: 200px;/* instancia um menu do outro*/
    height: 40px;/*largura do backgroud*/
    display: inline-block;/* tira a marcação de lista do menu*/
    text-align: center;/*alinha no centro da pagina*/
    line-height: 40px;/* Alinhando verticalmente*/
    font-family: Arial, Helvetica, sans-serif;/* fonte do menu*/
}
#menu:hover ul:hover li:hover{/* efeito ao passar mouse*/
    background-color: rgb(0, 67, 155);
}    
#menu ul{/*deixa o sub_menu alinhado com menu principal*/
    padding: 0px;
}
#menu ul ul{/*escondendo sub_menu*/
    display: none;
    color: white;
}
#menu ul li:hover > ul{/* aparecendo sub_meu ao passar o mouse (OBS)"para que isso aconteça temos que saber erança"*/
    display: block;
}
#menu ul li:hover > ul li{
    background-color: #000000;
}
#menu ul li> ul li:hover{/* trabanlhado com efeito e com erança*/
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
#menu ul li> ul .li2:hover{/*trabalhando com erança mexendo no tamano do sud_menu da teg li da class="li2"*/
    width: 300px;
}
#menu ul li> ul .li6:hover{/*trabalhando com erança mexendo no tamano do sud_menu da teg li da class="li6" */
    width: 280px;
}
#menu ul li > ul{
    background-color: linen;
}
#menu{
    margin-left: 345px;/* define a possiçao que o menu ira ficar ( mais a direita ou mais a esquerda)*/
    margin-top: -75px;
}
.logo_impct{/*define a posição onde ira ficar o logo tipo impacta*/
    margin-left: 45px;
    margin-top: 10px;
}
.bt_log{/*Configração basica bo botão*/
    border: 3px solid;
    border-radius: 25px;
    border-color: rgb(0, 118, 214);
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 80px;
    margin-top: 5px;
}
.bt_log:hover{/* configuração do fundo do botão ao passar mouse */
    background:#000000;;
}
.bt_log:hover{/* consfiguração do text do botão ao passar mouse*/
    color: white;   
}
.banner{/*tratando dimenções do banner*/
    float: right;
    width:1348px;
    height: 500px;
    margin-top: 20px;
    image-rendering: auto; 
}
.vetor_logo{/*tratando as dimeções do vetor*/
    width: 600px;
    height: 200px;
    margin-left: 365px;
    margin-top: -150px;
}

#rodp{/* configuração do roda-pé da pagina*/
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: rgb(0, 41, 224);
    color: rgb(255, 255, 255); 
    height:25px;
}
.rod{
    margin-top: 5px;
}
/* Por favor comece seu css aqui a baixo (OBS *NAO MECHER NO CSS PRINCIPA DA PAGINA* NEM NA TAG BODY )*/
/* SE FOR MECHER NO SEU BODY CRIE UMA CLASS PARA ELE, SE NAO ELE IRA ALTERAR A PAGINA RINCIPAL*/