<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main6.css">
    <title>FIT</title>
    <link rel="icon" href="static/imagens/icones-ingressar.png">
     <!--colocar toda a parte de django nesta página!-->
</head>
<body> 
    <img class="logo_impct" src="logo.png" alt="logo">
    <div><a href="index.html"><button class="bt_log botao">HOME</button></a></div>
    
    <h1 class="fonte4"><b>Contato</b></h1>
    <p class="fonte3"> 
            Avenida Rudge, 315<br><br>
            Barra Funda - São Paulo / SP<br><br><br><br>

            <b>Fale Conosco</b><br><br>
            SECRETARIA<br><br>

            11 5593-5390<br><br>

            COMERCIAL<br><br>

            11 3254-8300<br><br>

            FINANCEIRO<br><br>

            11 5593-5392<br><br>
    </p>
 
          
    <div id="rodp">
        <p class="rod">© Copyright desde 2018 BinaryWork, todos os direitos reservados </p>
    </div>       
</body>
</html>
    
