<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/main.css">
    <title>FIT</title>
    <link rel="icon" href="static/imagens/icones-ingressar.png">
</head>
<body> 
    <img class="logo_impct" src="static/imagens/logo.png" alt="logo"> 
    <nav id="menu"> <!--A tag nav é de navegação ela é parecida com a div mas ela ja é propria para navegar em menu ,sub_menu -->
        <ul id="ul">
            <li>Home</li>
            <li>Graduação
                <ul>
                    <a href="curso_administracao.html"> <li>Adminstração</li></a>
                    <a href="curso_analise_e_desenvolvimento_de_sistemas.html"><li class="li2">Analise e Desenvolvimento de Sistemas</li></a>
                    <a href="curso_banco_de_dados.html"><li>Banco de dados</li></a>
                    <a href="curso_sistemas_de_informacao.html"><li>Sistemas de informação</li></a>
                    <a href="curso_engenharia_da_computacao.html"><li>Engenharia da computação</li></a>
                    <a href="curso_gestao_da_tecnologia_da_informacao.html"><li class="li6">Gestão da tecnologia da informação</li></a>
                    <a href="curso_jogos_digitais.html"><li>Jogos Digitais</li></a>
                    <a href="curso_processos_gerenciais.html"><li>Processos Gerencias</li></a>
                    <a href="curso_producao_multimidia.html"><li>Produção Multimidia</li></a>
                    <a href="curso_redes_de_computadores.html"><li>Redes de computadores</li></a>
                </ul>
            </li>
            <li>Impacta</li>
            <li>Contato</li>
            <img class="banner" src="static/imagens/banner-vestibular2018-full.jpg" alt="banner"><!--A imagem banner tem que ficar entre a teg ul do sub_menu-->
        </ul>
    </nav>
    <div><a href='login.html'><button class="bt_log">Login</button></a></div>
        <img class="vetor_logo" src="static/imagens/vetor_logo01.png" alt="vetor_logo01">
            <div id="rodp">
                <p class="rod">© Copyright desde 2018 BinaryWork, todos os direitos reservados </p>
            </div>       
</body>
</html>
    