<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/css/main2.css">
	<title>Document</title>
</head>
<script>    
	function mostrar_abas(obj) {

		document.getElementById('div_aba1').style.display="none";
		document.getElementById('div_aba2').style.display="none";
		document.getElementById('div_aba3').style.display="none";
		document.getElementById('div_aba4').style.display="none";
	

		switch (obj.id) {
			case 'mostra_aba1':
			document.getElementById('div_aba1').style.display="block";
			break
			case 'mostra_aba2':
			document.getElementById('div_aba2').style.display="block";
			break
			case 'mostra_aba3':
			document.getElementById('div_aba3').style.display="block";
			break
			case 'mostra_aba4':
			document.getElementById('div_aba4').style.display="block";
			break
			
		}
	}

</script>



<body>    

	<img class="logo_impct" src="static/imagens/logo.png" alt="logo"> 
	<nav id="menu"> <!--A teg nav é de navegação ela é parecida com a div mais ela ja é propria para navegar em menu ,sub_menu -->
		<ul id="ul">
			<a href="index.html"><li>Home</li></a>
			<li>Graduação
				<ul>
				<!--	<li>Administração   </li>
					<li class="li2">Analise e Desenvolvimento de Sistemas</li>
					<li>Banco de dados</li>
					<li>Sistemas de informação</li>
					<li>Engenharia da computação</li>
					<li class="li6">Gestão da tecnologia da informação</li>
					<li>Jogos Digitais</li>
					<li>Processos Gerencias</li>
					<li>Produção Multimidia</li>
					<li>Redes de computadores</li>-->
				</ul>
			</li>
			<li>Impacta</li>
			<li>Contato</li>


		</ul>
	</nav>
	<div><button class="bt_log">Login</button></div>
    <img class="vetor_logo" src="" alt="">
    
    <div class= "texto_pag">
        <p ><h1>Gestão da Tecnologia da Informação</h1></p>
    </div>
	

	
	<div class="movimento">
		<div class="div1">
			<div class="div2">
				<h3  onclick="mostrar_abas(this);" id="mostra_aba1" >1° Semestre</h3> 
				<h3  onclick="mostrar_abas(this);" id="mostra_aba2" >2° Semestre</h3> 
				<h3  onclick="mostrar_abas(this);" id="mostra_aba3" >3° Semestre</h3> 
				<h3  onclick="mostrar_abas(this);" id="mostra_aba4" >4° Semestre</h3>
				
			</div>
		</div>
		<!-- abas -->

		<div id="div_aba1" style="display:block;">
            <p class="text1">
                    Comunicação e Expressão (EAD): 80 horas<br>
                    A fluência na língua materna possibilita a plena compreensão dos textos indicados e a 
                    excelência na produção cientifica. Aplicação prática da expressividade ao falar em público, 
                    com direcionamento acadêmico e empresarial. Desenvolvimento de textos corporativos e científicos. 
                    Leitura crítica e interpretativa. Elaboração de textos, permeados pela clareza, intencionalidade, 
                    coesão e coerência. Orientação para emprego da ABNT em produções científicas.
                    <br><br>  
                    Fundamentos de Banco de Dados: 80 horas<br>
                    Introdução aos Sistemas Gerenciadores de Banco de Dados. Projeto de Banco de Dados. Projeto Conceitual 
                    de Banco de Dados: Modelo Entidade Relacionamento: UML: Uso de Diagramas de Classes da UML para 
                    representar as Abstrações de Generalização, Agregação e Composição. Projeto Lógico de Banco de Dados: 
                    Modelo Relacional; Normalização.
                    <br><br>  
                    Introdução a Internet das Coisas - IOT: 80 horas<br>
                    Introdução à computação ubíqua. Desenvolvimento de soluções IoT. Tipos de transdutores, 
                    sensores e atuadores. Componentes básicos do computador e dispositivos de Internet das coisas 
                    (Arduino). Funcionalidades dos subsistemas de memória, unidade central de processamento, barramentos 
                    e sistema de entrada/saída. Processos, sistemas de arquivos e drivers.
                    <br><br>  
                    Linguaguem de Programação I: 80 horas<br>
                    Introdução e Conceitos de Programação e Linguagem de Programação. Linguagem de Programação Python. 
                    Tipos de Dados. Estruturas lógicas ou de controle de fluxo. Modularização. Métodos. Classes. 
                    Desenvolvimento de projeto IoT.
                    <br><br>  
                    Lógica de Programação: 80 horas<br>
                    Introdução à Lógica e aos Algoritmos. Tipos de Dados. Estruturas lógicas ou de controle de fluxo. 
                    Modularização. Introdução às Estruturas de Dados. Estruturas de Dados Homogêneas. Métodos de Busca 
                    (Busca Linear e Busca Binária). Métodos de Ordenação (Métodos Bolha, Inserção e Seleção).
                    <br><br>  
                    Matemática Aplicada: 80 horas<br>
                    Fundamentos: Relações, Funções e Matrizes. Lógica Formal: Proposições, representações simbólicas; 
                    Lógica proposicional; Quantificadores, Predicados e Validade; Lógica de Predicados. Conjuntos, 
                    Combinatória e Probabilidade: Teoria de Conjuntos; Contagem, Permutações e Combinações. 
                    Estatística Descritiva: Distribuição de frequência, histograma; Medidas de tendência central: 
                    Média, mediana e moda; Medidas de Dispersão: desvio padrão, variância.
                    
                    Subtotal: 480 horas<br><br>                       
            </p>
		</div>
		<div id="div_aba2" style="display:none;">
            <p  class="text2"> 
                    Ambiente de Desenvolvimento e Operação -DevOps: 80 horas<br>
                    Gerenciamento e Configuração de Mudanças. Instalação e configuração de ambientes operacionais 
                    e ferramentas em máquinas virtuais, local e em nuvem: Sistema Operacional, Compilador / Interpretador, 
                    Ambientes de Testes de Unidade. Git / GitHub, Servidor de Aplicação e wikis. Utilizando os ambientes 
                    criados para a especificação e codificação da OPE.
                    <br><br>  
                    Análise Exploratória de Dados: 80 horas<br>
                    Introdução à análise de dados, tipos de Dados, análise Univariada., medidas de Localização ou 
                    Tendência Central, medidas de Dispersão, técnicas de Visualização Univariada, análise Bivariada, 
                    técnicas de Visualização Bivariada, correlação. Regressão Linear.
                    <br><br>  
                    Engenharia de Software: 80 horas<br>
                    Conceitos fundamentais da Engenharia de Software. Abordagens de Análise de Software. Processos 
                    de Software. Disciplinas do curso e perfil profissional. Definição das OPEs. Checklists 
                    da Engenharia de Requisitos. Técnicas: Entrevista, Questionário, Comitê de Especialistas, 
                    Análise de Problemas, Workshop de Características, Baseline de Características e a Técnica 
                    de Reunião Formal: Walkthroughs.
                    <br><br>  
                    Gestão de Projetos: 40 horas<br>
                    Introdução à gestão tradicional de projetos. PMI. PMI. Agile Mindset. Manifesto A´gil. 
                    Gestão Ágil de Projetos (SCRUM): Gerência de time autogerenciável e os papéis. Time-boxes. 
                    Sprint. Planning meeting. Review meeting. feedback. Retrospectiva e daily scrum. Scrum Master. 
                    Práticas Scrum.
                    <br><br>  
                    Gestão Estratégica de Pessoas: 80 horas<br>
                    A competitividade das empresas vem sendo exigida constantemente e, para ter sucesso 
                    a área de Gestão de Pessoas vem se transformando a cada dia, sendo  seu principal desafio  
                    acompanhar a evolução e a forma como se administram as empresas em uma economia cada vez 
                    mais globalizada. Torna-se indispensável considerar a extensão do papel estratégico, 
                    determinado pela acessibilidade às informações e ao gerenciamento de pessoas, os direitos 
                    Humanos, tendo como desafio: atrair e captar, reter e desenvolver profissionais, remunerar, 
                    avaliar desempenho, motivação e liderança na empresa e sua importância estratégica no atual 
                    contexto de negócios.
                    <br><br>  
                    Libras: 40 horas<br>
                    Aquisição de uma nova língua: Língua Brasileira de Sinais (LIBRAS).
                    Oferecer o conceito de Libras, Fundamentos históricos da educação de surdos. Legislação 
                    específica. Aspectos Linguísticos da Libras. Compreender os principais aspectos da Língua 
                    Brasileira de Sinais – Libras, língua oficial da comunidade surda brasileira, contribuindo 
                    para a inclusão educacional dos alunos surdos.
                    <br><br>  
                    Sistemas Integrados de Gestão: 80 horas<br>
                    Integração entre a gestão operacional, de processos e estratégica com utilização de ERP. 
                    Aspectos funcionais de sistemas ERP (Planejamento de Recursos Corporativos); Processos de 
                    negócios e análise funcional; Arquitetura de sistemas ERP; Conceitos e tendências tecnológicas 
                    que visam melhorar o desempenho dos processos .empresariais.
                    <br><br>  
                    Sociedade e Sustentabilidade: 40 horas<br>
                    Identificar o papel do administrador de empresa no século XXI, considerando  a fundamentação 
                    teórica, sob uma ótica de desenvolvimento sustentável, vislumbrando Organizações em equilíbrio 
                    Econômico-financeiro e que respeitem a sociedade e o meio ambiente. Desenvolver competências, 
                    para compreender o mundo a seu redor e propor alternativas menos danosas ao meio ambiente e a 
                    sociedade, sempre com a premissa da saúde financeira da Organização, bem como, de oportunidade 
                    de negócios.

                    Subtotal: 520 horas<br><br>   
            </p>
		</div>
		<div id="div_aba3" style="display:none;">
			<p  class="text3">
                    Análise de Viabilidade de Projetos: 80 horas<br>
                    Apresentar os conceitos básicos e fundamentais do Plano de Negócios e, Estudo de Viabilidade 
                    como ferramenta para o direcionamento e sucesso do empreendimento. Conhecer os fundamentos, 
                    processos e a estruturação do plano de negócios para apresentação a potenciais investidores, 
                    inclusive processos de alianças, parcerias, fusões e aquisições. Avaliação e seleção de 
                    alternativas de investimentos. Comprar ou alugar.
                    <br><br>  
                    Inteligência de Negócios: 80 horas<br>
                    Apresentar e discutir conceitos de administração da informação, informação estratégica 
                    e sua aplicabilidade ao mundo de negócios. Apresentar padrões e técnicas para o uso dos 
                    diversos sistemas de apoio a decisão estratégica baseados em Data Mart, Data Warehouse 
                    e Data Mining.
                    <br><br>  
                    Legislação e Ética: 40 horas<br>
                    Direito Digital. Propriedade Intelectual em especial Direito Autoral. Lei de Software. 
                    Princípios Gerais do Direito do Consumidor. Licitações e Contratos de Informática. 
                    Tributação de Software e de Serviços de Informática. Ética Profissional: Regulação 
                    Profissional.
                    <br><br>  
                    Modelagem de Processos de Negócios: 80 horas<br>
                    Preparar o profissional para ter a visão estratégica do negócio, preparando-o desta forma,  
                    para intervir na organização por meio das ações próprias do analista, tais como, formatar, 
                    definir o design da estrutura organizacional e racionalização de processos. Demonstrar as 
                    ferramentas para a  produtividade: fluxograma, organogramas, funcionograma, “layout – 
                    arranjo físico. 
                    <br><br>  
                    OPE1 - Oficina de Projeto Empresa 1: 80 horas<br>
                    Configuração do Ambiente de Projeto e do Ambiente de Desenvolvimento. SCRUM na prática: 
                    Desenvolvimento das OPEs em Sprints. Análise dos resultados. Orientações dos grupos para 
                    mitigar problemas ou melhorar o processo / produto. Técnicas de apresentação. Template da 
                    Monografia de OPE. Agendamento de reuniões e definição de cronogramas.
                    <br><br>  
                    Qualidade de Software: 80 horas<br>
                    Introdução à Qualidade de Software. Qualidade de Produto x Processo. Padrões da Qualidade: 
                    Norma ISO 9126. Gerência da Qualidade. Melhorias de Processo: Modelos de Maturidade: CMMI;
                    MR MPs; ISO 15504. Testes de Software: Verificação x Validação: Teste, Inspeção, Revisão. 
                    Fases da Atividade de Teste. Teste Funcional, Teste Estrutural, Geração de Dados de Teste. 
                    Estrutura dos artefatos de Testes. Automação de Testes. Práticas de Teste de Software: Teste 
                    de Caixa Branca; Teste de Caixa Preta; Testes Automatizados; TDD (Test-Driven Development).
                    
                    Subtotal: 440 horas<br><br>                          
            </p>
		</div>
		<div id="div_aba4" style="display:none;">
			<p  class="text4">
                    Gestão da Qualidade: 80 horas<br>
                    Contextualização Histórica. Conceitos básicos e principais linhas de pensamento. Gestão por 
                    processos. Ferramentas de gerenciamento. Metodologia seis sigma. Normas ISO 9000. Prêmio Nacional 
                    da Qualidade (PNQ). Métodos de gestão clássicos. Métodos de gestão específicos. Qualidade 
                    em projetos
                    <br><br>  
                    Gestão da Segurança da Informação: 80 horas<br>
                    Política de Segurança da Informação. Segurança Organizacional. Classificação e controle 
                    dos ativos de informação. Segurança em pessoas. Segurança Física e Ambiental. Gerenciamento das 
                    operações e comunicações. Controle de Acesso. Desenvolvimento de Sistemas e Manutenção. Gestão 
                    da continuidade do negócio e a Conformidade. Práticas de auditoria.
                    <br><br>  
                    Gestão de Infraestrutura de TI: 80 horas<br>
                    ITIL (Information Technology Infrastructure Library); CobiT (Control objectives for 
                    Information and related Technology); ISO/IEC 20.000; BPM (Business Process Modeling); 
                    CMMI (Capability Maturity Model Integration); PMBOK (Project Management Body of Knowledge). 
                    Gerência de infraestrutura de TI: Projetos e Portfólio de Projetos; Serviços (Aquisição e 
                    Contratação de Serviços); Riscos; Segurança da Informação; Infraestrutura de TI; Pessoas; 
                    Arquitetura Corporativa. Virtualização: Continuidade de Negócios; Computação em Nuvem; de 
                    Serviços. Projetos e Serviços. Infraestruturas. Gestão de Custos em TI: Análise Contábil e 
                    Financeira.
                    <br><br>  
                    Gestão Estratégica de TI: 80 horas<br>
                    Administração Estratégica: Administração Estratégica e Competitividade. Estratégia no Nível 
                    do Negócio: Business Model Generation Canvas (BMG); Design Thinking; Oceano azul; Princípio 
                    de Pareto; 5 Forças Competitivas de Porter; Matriz BCG; Piramide de maslow; Diagrama de Ishikawa; 
                    Ciclo PDCA; Matriz de ANSOFF; Checklists; Kanban; Kaizen; Metodologia 5S; Scrum; Teoria dos jogos; 
                    Teoria do caos; Cone da incerteza; Teoria das restrições e KANO – priorização de requisitos de 
                    software. Gestão Estratégica de TI.
                    <br><br>  
                    Governança de TI: 80 horas<br>
                    Contexto de Governança de TI. COBIT como “guarda chuva” da Governança de TI; BSC, PMBok, ITIL, 
                    CMMI e ISO 17.799, IT Flex, Val IT, COSO, MAnGve. Lei Sarbanes-Oxley – SOX. Guias de Gerenciamento. 
                    Matriz RACI. Biblioteca de indicadores de desempenho de TI e de negócio. Abordagem ágil de Governança de TI: 
                    Fundamentos; Arquitetura e Elementos; Visão Crítica e Abordagem Prática; Casos Reais.
                    <br><br>  
                    OPE 2 - Oficina Projeto de Empesa 2 : 80 horas<br>
                    MVP (Minimum Viable Product). Modelagem de negócio e de análise e modelagem de sistemas envolvendo 
                    clientes reais. Desenvolvimento da arquitetura lógica do sistema. Utilização do ambiente DevOps. 
                    Especificação técnica do sistema (monografia da OPE).
                    
                    Subtotal: 480 horas<br><br>                  
            </p>
		</div>
		
		
	</div>

	<div id="rodp">
		<p class="rod">© Copyright desde 2018 BinaryWork, todos os direitos reservados </p>
	</div> 
</body>
</html>