<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
    <title>LOGIN</title>
    <link href="static/css/main4.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="icon" href="https://static.eventials.com/media/thumb_cache/9f/53/9f5340a1d8ab3025d8535d2a05e09e8c.jpg">
</head>
<body>
    <div class="ctr">
    <div id="log1">
    <div id="logimpacta"><img src="static/imagens/logo.png" alt="logo" class="logimt"></div> 
    </div>
    <div class="form">
    <form method="POST">
    <div class="LOGIN">
        <label id for="LOGIN">LOGIN:</label>
        <input id="LOGIN" type="text" name="LOGIN" minlength="6" value="" maxlength="15" pattern="[A-Za-z0-9]"><br><br> 
    </div>
    <div class="SENHA">
        <label for="password">SENHA:</label>
        <input id="SENHA" type="password" name="password" value="" minlength="6" maxlength="15" pattern="[A-Za-z0-9]+[%\@\!\$\#\*]" ><br><br>
    </div>
    <div><button class="Botao"Login>LOGIN</button></div>
    </div>
    </div>
    </form>
</body>
</html>