<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body> 
    <img class="logo_impct" src="imagens.html/logo.png" alt="logo"> 
    <nav id="menu"> <!--A teg nav é de navegação ela é parecida com a div mais ela ja é propria para navegar em menu ,sub_menu -->
        <ul id="ul">
            <li>Home</li>
            <li>Graduação
                <ul>
                    <li>Adminstração</li>
                    <li class="li2">Analise e Desenvolvimento de Sistemas</li>
                    <li>Banco de dados</li>
                    <li>Sistemas de informação</li>
                    <li>Engenharia da computação</li>
                    <li class="li6">Gestão da tecnologia da informação</li>
                    <li>Jogos Digitais</li>
                    <li>Processos Gerencias</li>
                    <li>Produção Multimidia</li>
                    <li>Redes de computadores</li>
                </ul>
            </li>
            <li>Impacta</li>
            <li>Contato</li>
            <img class="banner" src="imagens.html/banner-vestibular2018-full.jpg" alt="banner"><!--A imagem banner tem que ficar entre a teg ul do sub_menu-->
        </ul>
    </nav>
    <div><button class="bt_log">Login</button></div>
        <img class="vetor_logo" src="imagens.html/vetor_logo01.png" alt="vetor_logo01">
            <div id="rodp">
                <p class="rod">© Copyright desde 2018 BinaryWork, todos os direitos reservados </p>
            </div>       
</body>
</html>
    